app-actions {
    width: auto; /* or specify a specific width */
  }
  
  /* Or if the container is a parent element */
  .container-class {
    width: auto; /* or specify a specific width */
  }

  .widget-data{
    padding: 0px;
  }

  .topPadding{
    padding: 0px;
  }
  .sidePaddingRight{
    padding-left: 1px;
    padding-right: 0px;
    background-color: #ddd6d6;
}

.sidePaddingLeft{
    padding-left: 1px; 
    padding-right: 0px;
    background-color: #ddd6d6;
}
.card-box, .da-card{
    border-radius: 0px;
}
