<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center custom-card-header"
    (click)="toggleCollapse()" style="cursor: pointer;">
    <span>{{ title }}</span>
    <button class="btn btn-link toggle-button" (click)="$event.stopPropagation()">
      <span *ngIf="isCollapsed">+</span>
      <span *ngIf="!isCollapsed">-</span>
    </button>
  </div>
  <div [ngClass]="{'collapse': isCollapsed, 'show': !isCollapsed}">
    <div class="card-body">
      <ng-container *ngTemplateOutlet="panelContent"></ng-container>
    </div>
  </div>
</div>