.left {
    background-color: #fff;
    padding: 10px;
    min-height: 520px;
    
}
.Div-border {
    border: 1px solid #535353;
}
.input-group {
  margin-bottom: 2px;
  width: 100px;
}
.custom-padding {
  padding: 10px 0 10px 10px; /* top right bottom left */
}

 .Page-border {
    border: 2px solid #6d6e70;
    padding: 25px;
}
.da-card, .da-card .da-card-photo {
    position: relative;
    overflow: hidden;
}
.facility{
 position: relative; 
 width: 100%; 
 max-width: 160px;
}
.dropdown1{
   border: none; 
   border-bottom: 1px solid #ced4da; 
   cursor: pointer; 
   height: 30px; 
   padding-right: 24px;
}
.times{
  position: absolute; 
  right: 5px; 
  bottom: 6px; 
  cursor: pointer;  
  color: #888;   
  font-size: 18px;
}
.border{
  border-bottom: 1px solid #000; 
  margin-bottom: 10px;
}
.card-box, .da-card {
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 0 28px rgba(0, 0, 0, .08);
}
 
.btn{
    margin: 5px;
}

.sidePaddingRight{
    padding-left: 1px;
    padding-right: 0px;
    background-color: #ffff;
}

.sidePaddingLeft{
    padding-left: 1px; 
    padding-right: 0px;
    background-color: #ffff;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}

.is-invalid {
    border-color: #dc3545;
}

.text-danger {
    color: #dc3545;
}

.horizontal-options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  align-items: center;
}


.form-check {
  display: flex;
  align-items: right;
}


.form-check-input {
  margin-right: 0.5rem;
}
  