.right {
    background-color: #fff;
    padding: 5px;
    min-height: 590px;
}
.Div-border {
    border: 1px solid #535353;
}
.pd-20{
    padding: 52px;
}
.row {
    margin-right: -30px;
    margin-left: -35px;
}

