.left {
    background-color: #fff;
    padding: 10px;
}
.Div-border {
    border: 1px solid #535353;
    margin-top: 5px;
}
.Div-border1 {
    border: 1px solid #535353;
    margin-top: 10px;
}
.btn{
    margin: 5px;
}
